* { padding: 0;
   margin: 0; }
   canvas { background: #eee;
     display: block;
     margin: 15px auto;
    }
body{
	background-color: #888;
}
h1{
  text-align: center;
  text-shadow: 2px;
  font-family: Arial;
  font-display: block;
  font-size: 45px;
  color: #eee;
  background-color: #333;
}
